body {
	margin: 0;
}

h1 {
	font-family: 'Urbanist', sans-serif;
	font-size: 3em;
	border-bottom: 1px solid;
	width: 465px;
	text-align: right;
	margin-top: 15px;
	padding-right: 5px;
	animation: line 1.5s .5s;
}

@keyframes line {
	from {width: 275px;}
	to {width: 465px;}
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

img {
	margin: 15px;
	width: 350px;
	height: 425px;
	object-fit: cover;
	transition: all 1s;
}

img:hover {
	transform: scale(1.1);
}